body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}
h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000
}
.botao{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #6B5F1B;
    font-size: .9em;
    border-radius: 3px;
}

/* Navegação */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C2E884;
}
nav > p a {
    text-decoration: none;
    color: #6B5F1B;
    font: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #6B5F1B;
}

/* Cabeçalho*/
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../img/ESSA.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #1c1c1c;
    text-align: left;
    padding: 20px;
}
header h1 {
    color: #1c1c1c;
}
header p {
    margin-bottom: 2em;
}
#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #6B9C59;
    color: #FFFFFF;
}

#sobre h2{
    color: #FFFFFF;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #6B5F1B;
    color: #FFFFFF;
}

/* serviços */

#servico {
    dispplay:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#servico {
    dispplay:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
/* Contato */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #EBD13A;
    color: #FFFFFF;
}
footer a {
    text-decoration: none;
    color: #6B5F1B;
}
@media screen and (min-width: 70px) {

    /*nav*/

    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    /*Cabeçalho*/
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    /*Sobre*/   
    #sobre {
        height: 200px;
        height: 95vh;
        justify-content: center;
        min-height: 250px;
    }
    /*Servico*/
    #servico {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #servico h2 {
        text-align: center;
        width: 100%;
    }

    #servico div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    /*Contato*/
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1000px;
        margin: 0 auto;
    }
    #contato h2, #contato p{
        width: 100%;
    }
}
